.expansions {
  padding: 28px 0 0 40px;

  &__header {
    display: flex;
    justify-content: space-between;
    padding: 0 40px 30px 0;
    align-items: center;

    &__title {
      font-size: 3rem;
    }

    &__all {
      cursor: pointer;
      padding: 7px 17px;
      border-radius: 100px;
      background-color: var(--interactive-bg);
      color: var(--interactive);
    }
  }

  &__carrousel {
    max-width: 100%;
    padding-right: 40px;
    overflow: auto;
    display: flex;
    gap: 40px;
  }
}