@if (vm$ | async; as vm) {
  <div class="auth">
    <div class="auth__panel">
      <form [formGroup]="vm.authForm" class="auth__form-container__form">
        @if (vm.newUser) {
          <input type="text" formControlName="name" />
        }
        <input type="email" formControlName="email" email />

        <input type="password" formControlName="password" />

        @if (vm.newUser) {
          <input type="password" formControlName="repeatPassword" />
        }
      </form>
      @if (vm.newUser) {
        <span>Ya tienes una cuenta? Login</span>
      } @else {
        <span>Todavía no tienes una cuenta? Register</span>
      }
    </div>
  </div>
}
