.banner {
  position: relative;
  padding: 0 40px;

  &__inner {
    display: flex;
    align-items: center;
    justify-content: end;
    padding: 0 40px;
    background-size: cover;
    background-position: center;
    border-radius: 50px;
    width: 100%;
    box-sizing: border-box;
    height: 325px;

    img {
      height: 150px;
    }
  }

  &__action {
    position: absolute;
    bottom: -28px;
    left: 50%;
    transform: translateX(-50%);
  }
}