body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

html,
body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  font-family: 'kanit-regular', sans-serif;
  scrollbar-width: none;

  ::-webkit-scrollbar {
    display: none;
  }
}

:root {
  --input-bg: #DBDCDF;
  --input-placeholder: #23232366;
  --dark: #232323;
  --dark-transparent: rgba(35, 35, 35, 0.2);
  --light: #EFF0F4;
  --light-transparent:  rgba(239, 240, 244, 0.2);
  --interactive: #1F50FF;
  --interactive-bg: #e9eeff;
  --overlay: rgba(35, 35, 35, 0.6);

  @font-face {
    font-family: 'kanit-regular';
    src: url('/assets/fonts/kanit-regular.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
  }


  input, input:focus-visible {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
    padding: 0;
    border: none !important;
    background-color: var(--input-bg);

    ::placeholder {
      color: var(--input-placeholder);
      opacity: 1;
    }
  }
}